<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
<div class="center">
    <button onclick="openLoginForm()">Login</button>
</div>
<div class="popup-overlay"></div>
<div class="popup">
    <div class="popup-close" onclick="closeLoginForm()">x</div>
    <div class="form" id="formLogin">
        <table style="width: 700px;padding: unset" border="1px solid grey">
            <tr>
                <div class="avatar">
                    <img src="https://bit.ly/31pHqJb">
                </div>
                <div class="header">
                    Member login
                </div>
            </tr>
            <tr>
                <td width="60%">
                    <div class="element">
                        <input type="text" id="username" placeholder="username" required>
                    </div>
                    <div class="element">
                        <input type="password" id="password" placeholder="password" required>
                        <button id="showPass1"
                                style="width: 30px;height:10px;position: relative;background:none;top: -41px; left: 332px;">
                            <img src="https://icons.iconarchive.com/icons/iconsmind/outline/128/Eye-2-icon.png"
                                 style="width: 20px"></button>
                    </div>
                    <div class="element">
                        <button id="btn_login" onclick="login()">Login</button>
                    </div>
                </td>
                <td>
                    <div style="text-align: center;margin-top: -50px">
                        Not a member?
                    </div>
                    <div style="text-align: center">
                        <button id="btn_signup" onclick="showRegisterForm()">Sign up</button>
                    </div>
                    <div class="auth" style="text-align: center">
                        Or login with
                    </div>
                    <div class="links">
                        <a href="" class="social">
                            <img src="https://icons.iconarchive.com/icons/yootheme/social-bookmark/256/social-facebook-button-blue-icon.png"
                                 style="width: 20px; height: 20px">
                            Login with facebook
                        </a>
                    </div>
                    <div class="links">
                        <a href="" class="social">
                            <img src="https://icons.iconarchive.com/icons/graphics-vibe/classic-3d-social/256/google-icon.png"
                                 style="width: 20px; height: 20px">
                            Login with gmail
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="form" id="formRegister" hidden>
        <table style="width: 700px;padding: unset" border="1px solid grey">
            <tr>
                <div class="avatar">
                    <img src="https://bit.ly/31pHqJb">
                </div>
                <div class="header">
                    Member login
                </div>

            </tr>
            <tr>
                <td width="60%">
                    <div class="element">
                        <input type="text" id="username_regis" placeholder="username" required>
                    </div>
                    <div class="element">
                        <input type="password" id="password_regis" placeholder="password" required>
                        <button id="showPass2"
                                style="width: 30px;height:10px;position: relative;background:none;top: -41px; left: 332px;">
                            <img src="https://icons.iconarchive.com/icons/iconsmind/outline/128/Eye-2-icon.png"
                                 style="width: 20px"></button>
                        <input type="password" id="re-password_regis" placeholder="password" required>
                        <button id="showPass3"
                                style="width: 30px;height:10px;position: relative;background:none;top: -41px; left: 332px;">
                            <img src="https://icons.iconarchive.com/icons/iconsmind/outline/128/Eye-2-icon.png"
                                 style="width: 20px"></button>
                    </div>
                    <div class="element">

                    </div>
                    <div class="element">
                        <button id="btn_register" onclick="register()">Register</button>
                    </div>
                </td>
                <td>
                    <div style="text-align: center;margin-top: -50px">
                        Is a member?
                    </div>
                    <div style="text-align: center">
                        <button id="btn_login2" onclick="closeRegisterForm()">Login</button>
                    </div>
                    <div class="auth" style="text-align: center">
                        Or login with
                    </div>
                    <div class="links">
                        <a href="" class="social">
                            <img src="https://icons.iconarchive.com/icons/yootheme/social-bookmark/256/social-facebook-button-blue-icon.png"
                                 style="width: 20px; height: 20px">
                            Login with facebook
                        </a>

                    </div>
                    <div class="links">
                        <a href="" class="social">
                            <img src="https://icons.iconarchive.com/icons/graphics-vibe/classic-3d-social/256/google-icon.png"
                                 style="width: 20px; height: 20px">
                            Login with gmail
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<script src="../static/js/login.js"></script>
</body>
</html>